*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
.search-form {
  padding: 24px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.form-wrap {
  margin-bottom: 8px;
}

.label {
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: smaller;
}
.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.value {
  color: #4e75ff;
  font-size: smaller;
}

.btn {
  border-radius: 4px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  border: none;
}
.container {
  max-width: 428px;
  padding: 20px 15px;
  margin: 0 auto;
}

.gallery_link {
  margin: auto;
  margin-bottom: 10px;
  border: none;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .search-form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .input {
    width: 100%;
    max-width: 300px;
  }

  .btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    /* max-width: 768px; */
    max-width: 100%;
  }
  .photo-card {
    flex-basis: calc((100% - 40px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .photo-card {
    flex-basis: calc((100% - 60px) / 4);
  }
}

.gallery_img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.load-more {
  border-radius: 4px;
  padding: 8px 16px;

  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: auto;

  margin-bottom: 20px;
  border: none;
}

.load-more:hover,
.back-to-top:hover {
  background-color: #acb9e7;
}

.back-to-top {
  border-radius: 4px;
  padding: 8px 16px;

  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  border: none;
}

.load-more.unvisible {
  display: none;
}

.back-to-top.unvisible {
  display: none;
}

.loader.unvisible {
  display: none;
}

.btn:disabled {
  background-color: #acb9e7;
}

.history-item.active {
  color: #fff;
  background-color: #4e75ff;
  border-color: #4e75ff;
}

.search-history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

.search-history p {
  margin: 0;
  color: #2e2f42;
}

.history-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.history-item {
  padding: 5px 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;
  cursor: pointer;
  transition:
    color 250ms ease,
    border-color 250ms ease,
    background-color 250ms ease;
}

.history-item:hover {
  color: #4e75ff;
  border-color: #4e75ff;
}

.history-item.active {
  color: #fff;
  background-color: #4e75ff;
  border-color: #4e75ff;
}

/* **************LOADER*********** */

.loader {
  --color-1: #4e75ff;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border-width: calc(3 * var(--size));
  border-style: dashed solid solid dotted;
  border-color: var(--color-1) var(--color-1) transparent var(--color-1);
  border-radius: 50%;
  /* display: inline-block; */
  display: block;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: calc(20 * var(--size));
  top: calc(31 * var(--size));
  border: calc(10 * var(--size)) solid transparent;
  border-right-color: var(--color-1);
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* **************LOADER*********** */
